body {
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100dvh;
    margin: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: whitesmoke;
    max-width: 225px;
    min-height: 375px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 10px;
    border-radius: 8px;
}

.display {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: end;
    background-color: rgb(24, 24, 24);
}

#upper {
    padding: 4px;
    font-size: 18px;
    color: rgb(199, 199, 199);    
}

#lower {
    padding: 4px;
    font-size: 30px;
}

.keypad {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

}

.button-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}

button {
    font: inherit;
    font-size: 24px;
    background-color: rgb(60, 60, 60);
    color: whitesmoke;
    border: none;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 50px;

}

button:hover {
    filter: brightness(120%);
}

button:active {
    filter: brightness(150%);
}

.function {
    background-color: rgb(255, 149, 0);
}

.symbol {
    background-color: gray;
}